@font-face {
    font-family: 'Doctor Glitch';
    font-style: normal;
    font-weight: normal;
    src: local('Doctor Glitch')m url('DoctorGlitch.woff') format('Doctor Glitch');
  }
  h1 {
      font-family: 'Doctor Glitch';
      font-weight: 200;
      color: #0ccac4;
  }